.home{
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    place-content: center;
    gap: 50px;
    background-color: #121212;
}
button{
    position: absolute;
    width: 200px;
    height: 220px;
    z-index: 100;
    background-color: #12121209;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    font-size: larger;
    color: white;
    display: flex;
  
}
 
button::before{
    content: attr(name);
    position: absolute;
    width: 100px;
    height: 30px;
    display: none;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgba(13, 13, 14, 0.884);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover::before {
    display: block;
}

span{
    width: 100%;
    margin-top: 160px;
 
}
.canvas-container{
    width: 200px;
    height: 200px;
    display: flex;
}
audio{
    width: 200px;
    position: absolute;
    height: 20px;
    color: white;
    z-index: 300;
}

.earth-container{
    width: 100%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:600px){
.home{
    width: 100%;
    height: auto;
    grid-template-columns: 200px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    place-content: center;
    gap: 50px;
    
}
button{
    margin-top: 150px;
}
}